@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.formularioChange {
  display: flex;
  width: 100%;
}
.headerChange {
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 2%;
}
.unoChange {
  flex: 2;
}
.tresChange {
  flex: 2;
}

.dosChange {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 2%;
  border-radius: 20px;
}

.labelChange {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  align-self: flex-start;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.inputChange {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.inputChange:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #000000;
}

.buttonContinueChange {
  background-color: #01a2ff;
  color: white;
  align-items: center;
  margin-top: 1%;
  height: 35px;
  width: 100%;
  border-radius: 20px;
  border-width: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.buttonContinueChange:hover {
  background-color: #028ddd;
  color: white;
}

.buttonHighChange {
  background-color: #01a2ff;
  color: white;
  align-items: center;
  margin-top: 6%;
  height: 35px;
  width: 100%;
  border-radius: 20px;
  border-width: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.buttonHighChange:hover {
  background-color: #028ddd;
  color: white;
}

.messageSkuChange {
  color: white;
  align-self: flex-start;
  font-size: 70%;
}

.messageSkuChange2 {
  color: #ff0000;
  align-self: flex-start;
  font-size: 70%;
}

.messageSuccesChange {
  color: #2eb40d;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.stockQuantityContainerChange {
  display: flex;
  gap: 10px;
  width: 100%;
}

.inputChangeHalf {
  flex: 2;
}

.discontinuedExitDateContainerChange {
  display: flex;
  gap: 40px;
  width: 100%;
}

.buttonCancelChange {
  background-color: #c0bbba;
  color: white;
  align-items: center;
  margin-top: 5%;
  height: 35px;
  width: 100%;
  border-radius: 20px;
  border-width: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.buttonCancelChange:hover {
  background-color: #aca8a7;
  color: white;
}

.horizontalContainerChange {
  display: flex;
  gap: 10px;
  width: 100%;
}

.horizontalItemChange {
  flex: 1;
}
